{% extends "blog/base.html" %}
{% load blog_tags %}
<!--
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Pintereso Bootstrap Template</title>

    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="{% static 'blog/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/theme.css' %}">

</head>

<body>
-->
    {% block content %}
    
    <main role="main">
    
        <section class="mt-4 mb-5">
            <div class="container mb-4">
                
                <!--Navbar templates-->
                <div class="row">
                    <!--
                    <nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
                    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExplore">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                            <a class="nav-link" href="#">Образ жизни</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Еда</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url "blog:home" %}">Домой</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Путешествовать</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Больше</a>
                            <div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="#">Астрономия</a>
                                <a class="dropdown-item" href="#">Природа</a>
                                <a class="dropdown-item" href="#">Приготовление еды</a>
                                <a class="dropdown-item" href="#">Мода</a>
                                <a class="dropdown-item" href="#">Хорошее здоровье</a>
                                <a class="dropdown-item" href="#">Сидение на диете</a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    </nav>
                -->
                </div>
            </div>
                <!--Navbar templates-->
                {% show_categories %}
                <!-- Сетка-->
            <div class="container-fluid">
                <div class="row">
                    <div class="card-columns">
                        {% for post in posts %}     
                        <div class="card card-pin">
                            <img class="card-img" src="{{ post.photo.url }}" alt="Card image">
                            <div class="overlay">
                                <h2 class="card-title title">{{ post.title }}</h2>
                                <div class="more">
                                    <a href="{{ post.get_absolute_url }}">
                                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Читать </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>         
            </div>
                <!--Сетка-->
    
        </section>
    
    </main>   
    
    
    {% endblock content %}

<!--
    <script src="{% static 'blog/js/app.js' %}"></script>
    <script src="{% static 'blog/js/theme.js' %}"></script>
    
    

</body>
-->