{% extends "blog/base.html" %}
{% load static %}

{% block content %}
  <div class="container">

<div class="row">

  <div class="col-md-3">
    {% include "blog/sidebar.html" %}

  </div>
  <div class="col-md-9">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
      {% for post in posts %}
      
      <div class="col">
        <div class="card h-100">
          <img src="{{ post.photo.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Заголовок карточки</h5>
            <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
          </div>
        </div>
      </div>
      
      {% endfor %}
  </div>


</div>

    
      
{% endblock content %}      
